    <h1>CBboard</h1>
    <p><%= @today.mon %>月 <%= @today.day %>日(<%= @yobi %>)</p>

    <div class="example">
      <img src="/images/kokubankesi.png">
      <p><%= link_to '時間割テーブルへ', timetables_path %></p>
    </div>