<%= form_with(model: meyasu, local: true) do |form| %>
  <% if meyasu.errors.any? %>
    <div id="error_explanation">

      <ul>
      <% meyasu.errors.full_messages.each do |message| %>
          <li><%= message %></li>
      <% end %>
      </ul>
    </div>

  <% end %>

  <div class="field">
    <h3>内容</h3>
    <%= form.text_area :content, id: :meyasu_content %>
    <p>該当した言葉</p>
    <div class="meyasu_error"><%= Meyasu.message(meyasu.content) %></div>
  </div>

<% end %>
