<p id="notice"><%= notice %></p>
  <h1><font face="UD デジタル 教科書体 N-B">目安箱</h1>
  <p>内容:</p>
  <textarea name="freeans" rows="4" cols="40"></textarea>
  <br>
  <input type="submit" value="送信する"><input type="reset" value="リセット">
  <br>
  <%= link_to 'topに戻る', "/" %>