// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.home{    
    body{
        background-image: url("/images/b.png");
        background-size: cover;
        background-repeat: no-repeat;    
    }
    
    .title{
        padding:20px;
    }
    
    .example {
        position: absolute;
        top: 8%;
        left:43%;
        &:hover {
            transform: scale(1.3);
            transition: box-shadow 0.2s ease,
                        transform 0.2s ease,
                        z-index 0s 0s ease;
            filter: drop-shadow(5px 5px 5px rgb(32, 32, 32));
        }        
    }

    .example2 {
        position: absolute;
        top:43%;
        left:64%;
        &:hover {
            transform: scale(1.3);
            transition: box-shadow 0.2s ease,
                        transform 0.2s ease,
                        z-index 0s 0s ease;
            filter: drop-shadow(5px 5px 5px rgb(32, 32, 32));
        }        
    }
    
    .example3 {
        position: absolute;
        top:42%;
        left:18%;
        &:hover {
            transform: scale(1.3);
            transition: box-shadow 0.2s ease,
                        transform 0.2s ease,
                        z-index 0s 0s ease;
            filter: drop-shadow(5px 5px 5px rgb(32, 32, 32));
        }        
    }

    p.ex{
        position: absolute;
        font-size: 20px;
        -webkit-text-fill-color: white;
        text-shadow:1.5px 1.5px 0 black;
        width: 400px;
        top:26%;
        left:35%;
    }

    p.ex2{
        position: absolute;
        font-size: 20px;
        -webkit-text-fill-color: white;
        text-shadow:1.5px 1.5px 0 black;
        width: 400px;
        top:62%;
        left:58%;
    }

    p.ex3 {
        position: absolute;
        font-size: 20px;
        -webkit-text-fill-color: white;
        text-shadow:1.5px 1.5px 0 black;
        width:400px;
        top:62%;
        left:12%;
    }

    h2 {
        font-size: 38px;
        position: absolute;
        right: 0;
        -ms-writing-mode: tb-rl;
        writing-mode: vertical-rl;
        text-orientation: upright;
        -webkit-text-fill-color:white;
    }

    .text-red{
        -webkit-text-fill-color: rgb(255, 115, 115);
    }

    .text-combine {
        -webkit-text-combine: horizontal;
        -ms-text-combine-horizontal: all;
        text-combine-upright: all;
    }

    .login{
        margin-top:40%;
    }

    .log2{
        position: absolute;
        top: 90%;
    }

    .btn{
        position: absolute;
        list-style: none;
        top: 85%;
        width: 40px;
        height: 40px;
        line-height: 40px;
        padding: 0 20px;
        border: solid 2px blue;
        background-color: white;
        .linone{
            text-decoration: none;
        }

        &:hover{
            background-color: rgb(207, 207, 207)
        }
    }
    
}


