// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {
    color: white;
    font-size:40px;
    background-color: crimson;
    padding:20px;
    width:243px;
}

ul{
    text-align: center;
    display:
    color:white;
    font-size:20px;
    background-color: crimson;
    padding:20px;
    width:180px;
}