// Place all the styles related to the meyasus controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body{
    background-image: url("/images/b.png");
    background-size: cover;
    background-repeat: no-repeat;   

    .meyasu_error {
        -webkit-text-fill-color: rgb(4, 190, 181);
    }

    h1{
        padding: 20px;
    }
    
    h3{
        padding-top: 30px;
    }
    
    .put{
        position: absolute;
        left: 200px; 
        top: 15%; 
    }
    
    .box{
        position: absolute;
        left: 200px; 
        top:40%;
    }
    
    p.boxp {
        -webkit-text-fill-color: honeydew;
        position: absolute;
        font-size: 20px;
        left: 200px;
        top: 45%;
    }

    .put{
        position: relative; left: 200px; 
        position: relative; top: -50px;
    }


}