// Place all the styles related to the plans controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.plans{    
    body{
        background-image: url("/images/b.png");
        background-size: cover;
        background-repeat: no-repeat;    
    }

    .ex {
        position: absolute;
        top:10%;
        left:5%;
    }

    .ex2 {
        position: absolute;
        top:10%;
        left:63%;
    }
    
    .ex3 {
        position: absolute;
        top:50%;
        left:5%;
    }

    .ex4 {
        position: absolute;
        top:48%;
        left:63%;
    }

    .yoteipdf {
        position: absolute;
        top: 5%;
        left: 3%;
    }

    p {
        -webkit-text-fill-color: honeydew;
    }

    .year {
        position: absolute;
        top: 58%;
        left: 45%;
        font-size: 50px;
    }

}
