@import "bootstrap-sprockets";
@import "bootstrap";

body {
<<<<<<< HEAD
  background-color: #fff;
  -webkit-text-stroke-width: 0.23px;
<<<<<<< HEAD
  -webkit-text-fill-color: rgb(0, 0, 0);
  margin: 33px;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 18px;
=======
  -webkit-text-stroke-color: rgb(0, 0, 0);
  -webkit-text-fill-color: rgb(255, 254, 254);
  text-shadow: 2px 2px 0 rgb(0, 0, 0);
=======
  color: chartreuse;
>>>>>>> e18578944e9d87c1a677ac88e308f04a9e9a1060
  margin: 33px;
  font-family: 'UD デジタル 教科書体 N-B';
  font-size: 13px;
>>>>>>> 5b76903fe26fa24b1a04742a19f066b11b162e8d
  line-height: 18px;
}

p, ol, ul, td {
  color: chartreuse;
  font-family: 'UD デジタル 教科書体 N-B';
  font-size: 13px;
  line-height: 18px;
}

//pre {
//  background-color: #eee;
//  padding: 10px;
//  font-size: 11px;
//}

a {
<<<<<<< HEAD
  //text-decoration:underline;
  -webkit-text-fill-color: rgb(135, 253, 0);
  //&:hover {
  //  color: #fff;
  //  background-color:orchid;
  //}
=======
  color: rgb(255, 255, 255);

  &:hover {
    color: rgb(255, 255, 255);
  }
>>>>>>> 5b76903fe26fa24b1a04742a19f066b11b162e8d
}


th {
  padding: 10px 5px 10px 5px;
  -webkit-text-fill-color: rgb(4, 105, 4);
  text-align: center;
}

td {
  padding: 10px 5px 10px 5px;
  font-size: 15px;
}
.kyouka{
  font-size: 20px;
  font-weight: bold;
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

//.field_with_errors {
//  padding: 2px;
//  background-color: aqua;
//  display: table;
//}

//#error_explanation {
//  width: 450px;
//  border: 2px solid aqua;
//  padding: 7px 7px 0;
//  margin-bottom: 20px;
 // background-color: #f0f0f0;

  //h2 {
  //  text-align: left;
  //  font-weight: bold;
  //  padding: 5px 5px 5px 15px;
  //  font-size: 12px;
  //  margin: -7px -7px 0;
  //  background-color: rgb(25, 78, 158);
  //  color: #fff;
  //}

  //ul li {
  //  font-size: 12px;
  //  list-style: square;
  //}
//}

label {
  display: block;
}

h3{
  -webkit-text-fill-color: rgb(255, 255, 255);
  font-size: 30px;
}

.logme{
  font-size: 13px;
  -webkit-text-fill-color: rgb(221, 214, 214);
}
