// Place all the styles related to the temples controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.temples{
    body{
        background-image: url("/images/b1.png");
        background-size: cover;
        background-repeat: no-repeat;    
    }
}