<p id="notice"><%= notice %></p>

<h1>月間行事予定</h1>




<p><a href="/images/4-6month.pdf">4・5・6月予定表</a></p>
<p><a href="/images/7-9month.pdf">7・8・9月予定表</a></p>
<p><a href="/images/10-12month.pdf">10・11・12月予定表</a></p>
<p><a href="/images/1-3month.pdf">1・2・3月予定表</a></p>
