<p id="notice"><%= notice %></p>

<h1>月間行事予定</h1>

<p><a href="/image/1-3month.pdf" target="_blank" title="4・5・6月予定表"></a></p>
<p><a href="/image/4-6month.pdf" target="_blank" title="7・8・9月予定表"></a></p>
<p><a href="/image/7-9month.pdf" target="_blank" title="10・11・12月予定表"></a></p>
<p><a href="/image/10-12month.pdf" target="_blank" title="1・2・3月予定表"></a></p>
