<p id="notice"><%= notice %></p>

<h1>月間行事予定</h1>

<p><a href="/image/1-3month.pdf" target="_blank" title="4・5・6月予定表"></a></p>
<p><%= link_to '7・8・9月予定表', plans_path %></p>
<p><%= link_to '10・11・12月予定表', plans_path %></p>
<p><%= link_to '1・2・3月予定表', plans_path %></p>
