<p id="notice"><%= notice %></p>

<h1><font face="UD デジタル 教科書体 N-B">月間行事予定</h1>


<a href="/images/4-6month.pdf"><img src="/images/haru.png" width="300px">
<a href="/images/7-9month.pdf"><img src="/images/natu.png" width="300px">
<br>
<a href="/images/10-12month.pdf"><img src="/images/aki.png" width="300px">
<a href="/images/1-3month.pdf"><img src="/images/huki.png" width="300px">
